.box {
    background: #9E9E9E;
    border: black 1px solid;
    height: 100px;
    margin: 0 auto;
    margin-top: 0;
    cursor: pointer;
    display: flex;
    aspect-ratio: 1/1;

}

.row {
    background-color: black;
    display: inline-block;
}

.hovering {
    /* background-color: rgb(math.random(), green, blue); */
}
.notHovering{
    transition: 2s ease-out
}

/* @randomColor: `Math.round(Math.random() * 100)`; */