.box {
    background: #9E9E9E;
    border: black 1px solid;
    width: 100%;
    /* height: 180px; */
    margin: 0 auto;
    margin-top: 0;
    cursor: pointer;
    display: flex;
    aspect-ratio: 1/1;

}

/* .box:hover {
    background-color: green;

} */

.row {
    display: block;
    background-color: black;
    border: black 1px solid;
    width:100%;
    height: 100%;
    display: flex;
}

.hovering {
    background-color: blue;
}
.notHovering{
    transition: 2s ease-out
}